.ResultsGrid {
    margin-top: 20px;
    background: #eee;
    height: 100vh;
    width: 100%;
}

.GridWrapper {
    display: flex;
}


@media all and (min-width: 800px) { 
    
} 

/* tablet */
@media all and (max-width: 768px) { 
    .ResultsGrid {
        width: 100vh;
    }
} 

/* wider mobile phones */
@media all and (min-width: 411px) { 

} 

/* iphone x */
@media all and (max-width: 375px) { 

}

/*  iphone 5 or less */
@media all and (max-width: 320px) { 

}